.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 700px;
  display: block;
  flex-direction: column;
  align-items: center;
 
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.left{
  float:left;
}

.centerq {
  display: inline-table;
  padding-top: 20px;
}

.iconAlign{
  float: right;
  margin-right: 150px;
  margin-top:27px;
}